* {
    padding: 0;
    margin: 0;
}
.heading {
    color: black;
    font-size: 15px;
   transition: font-size 0.5s ease-in;
}

.heading:hover {
    color: red;
    font-size: 20px;
    
}
.grow-box {
    width: 100px;
    height: 100px;
    background: red;
    animation-name: grow;
    animation-duration: 8s;
}

@keyframes grow {
0% {width: 100px; height: 100px; background: red;}
25% {width: 100px; height:200px; background: yellow;}
100% {width: 200px; height: 100px; background: black;}
}